<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.ypeng.springboot.demo.dao.AgreementMapper" >

    <resultMap id="agreementInfo" type="Agreement">
        <result property="agreeNo" column="agree_no"></result>
        <result property="agreeName" column="agree_name"></result>
    </resultMap>

    <select id="queryList"  resultMap="agreementInfo">
        SELECT * FROM agreement
    </select>

</mapper>